<!DOCTYPE HTML>
<html>
	<head>
		<title>HiddenPassion</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		>
        <link rel="stylesheet" href="/static/css/base.css">
{#       <link rel="stylesheet" href="/static/css/main3.css">#}
       <link rel="stylesheet" href="/static/css/vendor.css">
        <link rel="stylesheet" href="../static/css/main.css" />
        <link rel="icon" href="../static/images/icon.png" type="image"/>
        <style>
.container {
  position: relative;
  width: 50%;
}

.image {
    border: 5px solid #598487;
    border-radius: 80%;
      display: block;
      width: 100%;
      height: 100%;
}
.overlay {
    border-radius: 80%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 172, 228, 0.65);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.middle {
    border-radius: 80%;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
    border-radius: 80%;
  background-color: #4CAF50;
  color: white;
  font-size: 14px;
  padding: 16px 32px;
}

</style>
</head>
	</head>
	<body class="index">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="main" class="logo">HiddenPassion</a>
					<!--<nav id="nav">-->
						<!--<a href="index.html">Home</a>-->
						<!--<a href="generic.html">Generic</a>-->
						<!--<a href="elements.html">Elements</a>-->
					<!--</nav>-->
				</div>
			</header>
			<!--<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>-->

		<!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h1>HiddenPassion<span><br />
                The Easiest way to explore your new self</span></h1>
                <ul class="actions">
                    <li><a href="home" class="button alt">Get Started</a></li>
                </ul>
            </div>
        </section>
        <section id="two">

		<div class="row section-intro inner">
   		<div class="col-twelve with-bottom-line">

   			<h5>HIDDENPASSION</h5>
   			<h1>Khám phá những đam mê tiềm ẩn cùng với 4M</h1>

   			<p class="lead">4 thành viên của 4M bùng cháy với đam mê và đem lại cho bạn những trải nghiệm thú vị nhất cùng với hiddenpassion.tk</p>

   		</div>
   	</div>

   	<div class="row features-content">

   		<div class="features-list block-1-4 block-s-1-2 block-tab-full group">

	      	<div class="bgrid feature">

	      		<span class="icon"><i class="icon-window"></i></span>

	            <div class="service-content">

	            	 <h3 class="h05">HOÀNG ĐỖ</h3>


	         	</div>

				</div> <!-- /bgrid -->

				<div class="bgrid feature">

					<span class="icon"><i class="icon-eye"></i></span>

	            <div class="service-content">
	            	<h3 class="h05">VŨ VƯƠNG</h3>




	            </div>

			   </div> <!-- /bgrid -->

			   <div class="bgrid feature">

			   	<span class="icon"><i class="icon-paint-brush"></i></span>

	            <div class="service-content">
	            	<h3 class="h05">HOÀNG ANH </h3>



	            </div>

			   </div> <!-- /bgrid -->

			   <div class="bgrid feature">

			   	<span class="icon"><i class="icon-paint-brush"></i></span>

	            <div class="service-content">
	            	<h3 class="h05">NHẬT ANH </h3>



	            </div>

			   </div> <!-- /bgrid -->

				<div class="bgrid feature">

					<span class="icon"><i class="icon-file"></i></span>

	            <div class="service-content">

                        <div class="container">
                            <a href="https://www.facebook.com/hoang.spm">
                                 <img src="../static/images/hoang.png" alt="Avatar" class="image">
                            </a>

                          <div class="overlay">
                            <div class="text">Hello World</div>
                          </div>
                        </div>
                </div>

				</div> <!-- /bgrid -->

			   <div class="bgrid feature">

			   	<span class="icon"><i class="icon-layers"></i></span>

	            <div class="service-content">

                    <div class="container">
                         <a href="https://www.facebook.com/vu.kenbin.10">
                      <img src="../static/images/vuvuong.png" alt="Avatar" class="image">
                         </a>
                      <div class="overlay">
                        <div class="text">Hello World</div>
                      </div>
                    </div>

	            </div>

			   </div> <!-- /bgrid -->

			   <div class="bgrid feature">

			   	<span class="icon"><i class="icon-gift"></i></span>

	            <div class="service-content">

                    <div class="container">
                        <a href="https://www.facebook.com/hoanganh.pham.9465">
                      <img src="../static/images/hoanganh.png" alt="Avatar" class="image">
                        </a>
                      <div class="overlay">
                        <div class="text">Hello World</div>
                      </div>
                    </div>
	            </div>

			   </div> <!-- /bgrid -->

            <div class="bgrid feature">

			   	<span class="icon"><i class="icon-gift"></i></span>

	            <div class="service-content">

                    <div class="container">
                        <a href="https://www.facebook.com/paul.kevin.94">
                      <img src="../static/images/nhatanh.png" alt="Avatar" class="image">
                        </a>
                      <div class="overlay">
                        <div class="text">Hello World</div>
                      </div>
                    </div>
	            </div>

			   </div> <!-- /bgrid -->


	      </div> <!-- features-list -->

   	</div> <!-- features-content -->

	</section> <!-- /features -->


        <!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">Techkids.vn Team 4M</a>
					</div>

				</div>
			</footer>
		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/skel.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

	</body>
</html>